@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito:ital,wght@1,300;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  background-size: auto ;
  /* background-position: c; */
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4{
  font-family: Nunito, sans-serif;
}

#main {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

#working-area {
  margin: auto;
  width: 95%;
  max-width: 1600px;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1.1em;
}

.nav-img{
  margin-left: 1em;
  margin-top: 0;
}

#nav img {
  margin: 2em;
  height: 4.1em;
  padding-inline: 1.2em;
  width: 13.5em;
}

#nav>ul {
  /* margin: 1.5vw; */
  padding: 1.1em;
  margin-top: 1.6em;
  margin-bottom: 3.5em;
}

/* #nav li {
  list-style: none;
  position: absolute;
  float: right;
  display: flex;
  top: 0;
  left: 6%;
  gap: 3px;
} */

#nav li {
  list-style: none;
  position: relative; 
  display: flex;
  gap: 3px;
}


#nav ul a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 30px;
  padding: 0 15px;
  font-weight: bold;
  display: flex;
}

#nav ul li {
  float: left;
  position: relative;
  margin: 7px 7px;
  padding: 0;
}

#nav ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 5px;
  width: 100%;
  display: none;
  border: 0.8px solid transparent;
  background: #cfe2e4a0;
  border-radius: 4px;
}

#nav ul li:hover {
  background: transparent;
}

#nav ul li:hover>ul {
  display: flex;
  flex-direction: column;
}

#nav ul ul:hover {
  border-top: 1px solid rgb(255, 0, 0);
}

#nav a:hover {
  color: rgba(255, 68, 0, 0.692);
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
  #nav {
    flex-direction: column;
    text-align: center;
  }

  #nav img {
    width: 100%;
    max-width: 12em;
    margin-left: 0.5em;
  }

  #nav ul {
    margin-top: -0.5em;
    margin-bottom: 0;
    padding: 0;
  }

  #nav li {
    margin: 7px 0;
  }

  #nav ul a {
    padding: 10px;
  }
}


#section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#maintext {
  width: 44%;
  margin: 10em 0 0 3.8em;
  margin-inline: left;
}

.largetext {
  font-size: 3.7rem;
  font-weight: 700;
  margin-left: 0em;
  width: 10.6em;
}

.largetext span {
  line-height: 1.1;
  display: block;
}

#maintext p {
  line-height: 1.7;
  font-weight: 600;
  font-size: 15px;
  margin: 15px 0 10px 7px;
  color: rgb(128, 128, 128);
  
}

.logo1 img {
  position: relative;
  top: 2em;
  left: 0;
  width: 41em;
}

#btn1 {
  display: inline-block;
  margin: 0.5em;
  line-height: 3;
}

#btn1 button {
  padding: 0.7em 2.4em;
  height: 3.2em;
  border-radius: 6px;
  background-color: orangered;
  color: white;
  font-weight: 700;
  border: transparent;
  transition: all 0.2s ease;
}

#btn1 button:active {
  transform: scale(0.96);
}

#btn1 button:hover {
  background-color: rgb(151, 21, 21);
}

@media only screen and (max-width: 768px) {
  #section1{
    display: flex;
    flex-direction: column;
  }

  #maintext{
    margin-left: 0;
    margin-top: 1em;
  }

  .largetext {
    font-size: 2rem;
    text-align: center;
    margin-left: -2.5em;
    font-family: Nunito, sans-serif;
  }

  #maintext p{
    font-size: 1.2em;
    text-align: center;
    width: 20em;
    margin-left: -5.5em
  }

  .logo1 img{
    top: 6.7em;
    width: 26em;
    margin-left: 0.8em;
  }

  #btn1 button {
    padding: 0.7em 2.4em;
  }
}


#section2 {
  padding: 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 22em;
  position: relative;
}

.smallimage {
  line-height: 1.1;
  margin-top: 2em;
}

.smallimage img {
  margin-top: 0.5em;
  margin-right: 1.5em;
  position: relative;
  left: 39em;
  top: 2.6em;
  display: block;
  animation: rotate 9s infinite linear;
}

/* rotate image  animation*/
@keyframes rotate{
  0%{
    transform: translate(-50%,-50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(360deg);
  }
}


.smalltext {
  position: relative;
  left: 0;
  top: 0;
  color: orangered;
  font-weight: 550;
  display: inline-block;
}

.c-b-t {
  font-size: 2.3em;
  font-weight: 700;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, */
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 0.4em;
  text-align: center;
}

.c-b-t span {
  line-height: 1.4;
  font-family: Nunito, sans-serif
}

.s-t p, .s-t span {
  color: grey;
  line-height: 1.5;
  font-size: 1.1em;
}

#m-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5px;
  /* height: 64vh; */
  column-gap: 10em;
}

.box {
  width: 18em;
  height: 20em;
  border: 1px solid rgba(128, 128, 128, 0.39);
  border-radius: 6px;
  padding: 10px;
  margin-top: 1.5em;
}

.box1 img,
.box2 img,
.box3 img {
  width: 5em;
  margin-top: 5px;
}

.box1 h4,
.box2 h4,
.box3 h4 {
  margin-bottom: -3px;
  padding: 6px;
  font-size: 1.3em;
  font-weight: 700;
}

.box1 p,
.box2 p,
.box3 p {
  margin-top: 15px;
  color: rgba(128, 128, 128, 0.568);
}

.href a {
  line-height: 5;
  color: orangered;
  text-decoration: none;
  font-weight: 700;
}

.href a:hover {
  text-decoration: underline;
  color: black;
}

.b-t a {
  text-decoration: none;
  color: black;
}

.b-t a:hover {
  color: rgb(238, 83, 56);
}

.box1:hover,
.box2:hover,
.box3:hover {
  border: 1px solid orangered;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px){
  .smallimage img {
  margin-bottom: 15px;
  margin-top: 0.4em;
  margin-right: 0.5em;
  position: relative;
  left: 6.5em;
  top: 3.6em;
  display: block;
  animation: rotate 9s infinite linear;
  }
  
  .smalltext {
    position: relative;
    left: 0;
    top: 0;
    color: orangered;
    font-weight: 550;
    display: inline-block;
  }

  .c-b-t {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 0.4em;
    font-family: Nunito, sans-serif;
    text-align: center;
  }
  
  .c-b-t span {
    line-height: 1.4;
    font-family: Nunito, sans-serif
  }
  
  .s-t {
    text-align: center;
    font-size: 0.9rem;
  }

  #m-box{
    flex-direction: column;
    /* row-gap: 1em; */
  }

  .box{
    width: 23em;
    height: 18em;
  }
}

/* @media screen and (min-width: 400px) and (max-width:600px) { */
  /* .smallimage img {
  margin-bottom: 15px;
  margin-top: 0.4em;
  margin-right: 0.5em;
  position: relative;
  left: 6.8em;
  top: 3.6em;
  display: block;
  animation: rotate 9s infinite linear;
  }

  .s-t {
    text-align: center;
    font-size: 0.9rem;
  }

  .smalltext{
    margin-left: 2em;
  }
} */

#section3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}

.left{
  position: relative;
  top: 0;
  left: 4em;
}

.right{
  position: relative;
  top: 0;
  right: 4em;
}

.text1 {
  width: 36em;
  position: relative;
  top: 0;
  left: 1em;
  display: flex;
  flex-direction: column;
}

.motto img{
  margin-top: 0.5em;
  margin-right: 1.5em;
  position: relative;
  left: 1em;
  top: 1.8em;
  display: block;
  animation: rotate 9s infinite linear;
}

.motto span {
  display: inline-flex;
  text-transform: uppercase;
  margin-bottom: 6px;
  color: #ff5d22;
  font-weight: 700;
  font-size: 15px;
  transform: translate(2.8em, -1em);
}

#b-t h2 {
  font-size: 2em;
  font-weight: 700;
  margin-top: 3px;
}

.text1 p {
  margin-top: 20px;
  color: grey;
  font-size: 1em;
}

.ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  flex-flow: row wrap;
  position: relative;
  top: 0;
  left: -1em;
  padding: 1em;
  gap: 1em;
}

.ul li {
  height: 10vh;
  flex-basis: 45%;
  padding-left: 2px;
  position: relative;
  bottom: 0;
  left: 0;
  background-color: white;
  border-radius: 4px;
  box-shadow: 10px 10px 16px whitesmoke;
}

.ul img{
  width: 2em;
  transform: translate(1px, 20px);
  border: transparent;
}

.s-text {
  position: relative;
  top: 9px;
  left: 5px;
  font-size: 19px;
  font-weight: 600;
}

.s-text:hover {
  color: purple;
}

.logo2 {
  position: relative;
  top: 0;
  left: -0.6em;
}

.logo2 img {
  position: relative;
  top: 0;
  left: 0;
  width: 44em;
}

@media only screen and (max-width: 768px) {
  #section3 {
    display: flex;
    flex-direction: column;
  }

  .left{
    width: 100%;
    margin-right: 9em;
  }

  .logo2{
    margin-left: 8.9em;
  }

  .logo2 img{
    width: 24em;
    padding: 0.5em;
  }
  .ul{
    flex-direction: column;
    row-gap: 1.2em;
    width: 100%
  }
  .s-text{
    top: 0;
  }

  .ul img{
    width: 1.5em;
    transform: translate(0px, 5px);
  }

  .text1{
    width: fit-content;
    margin-left: -1em;
  }

  .motto{
    margin-left: 8em;
  }

  #b-t{
    margin-left: 3em;
    font-size: 0.9em;
    margin-top: 0;
  }

  .text1 p{
    text-align: center;
  }

}

/* @media screen and (max-width: 600px) {
  .ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .ul li span {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .logo2 img{
    width: 50%;
    padding: 1em;
  }
} */

@media only screen and (max-width: 400px) {
  #section3 {
    display: flex;
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

  .logo2 img{
    width: 80%;
  }

  .ul{
    flex-direction: column;
    row-gap: 1.5em;
    width: 70%;
  }
  .s-text{
    top: 0;
  }

  .ul img{
    width: 1.em;
    transform: translate(0px, 5px);
  }
}


#section4 {
  margin-top: 2em;
  min-width: none;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#imgpanel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-top: 1em;
  width: 88%;
  margin-left: 5em;
}

.img {
  margin-top: 0.8em;
  width: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img img {
  margin-top: 0.5em;
  width:15em;
  border-radius: 0 0 8px 8px;
}

.content {
  margin-top: 40px;
  border-radius: 0 0 5px 5px;
}

.content h4 {
  position: relative;
  margin-top: -1em;
  font-size: 1.2em;
}

.s-t-o{
  position: relative;
  width: 8em;
  color: #ff5d22;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  #imgpanel , .content {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 0;
  }

  .img {
    margin-top: 0.8em;
    width: 100%;
    margin-left: 0;
  }
}

/* .img img:hover {
  rotate: 2deg;
  scroll-behavior: smooth;
} */

#section5{
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  background-color: rgba(192, 231, 231, 0.137);
  position: relative;
}

.sideimg img{
  width: 41.5em;
  padding: 4em;
}

.sidetext{
  width: 100%;
  margin-right: 2.5em;
  display: flex;
  flex-direction: column;
}

.sidetext h2{
  font-size: 2.5rem;
  font-weight: 600;
  margin-right: 0.8em;
  width: 15em;
  margin-top: 3em;
}

.sidetext p{
  line-height: 1.8;
  font-weight: 600;
  font-size: 17px;
  color: rgb(177, 173, 173);
  margin-right: 2.2em;
}

#btn2{
  margin-right: 2.2rem;
  line-height: 4;
}

#btn2 button {
  padding: 0.7em 2.4em;
  height: 3.2em;
  border-radius: 6px;
  background-color: orangered;
  color: white;
  font-weight: 700;
  border: transparent;
  transition: all 0.2s ease;
}

#btn2 button:active {
  transform: scale(0.96);
}

.r-img{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 1.35;
}

.r-img img{
  width: 18em;
  overflow-clip-margin: content-box;
  overflow: clip;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  #section5 {
    flex-direction: column;
    justify-content: space-between;
  }

  /* .sideimg{
    text-align: center;
    background-color: aqua;
  } */

  .sideimg img {
    padding: 4em; 
    width: 30em;
    margin-left: -3em;
    /* background-color: antiquewhite; */
    text-align: center;
  }

  .sidetext {
    width: 94%; 
    margin-right: 2.5em; 
    text-align: left; 
  }

  .sidetext h2 {
    font-size: 1.7rem; 
    width: 100%; 
    margin-top: 0; 
    text-align: center;
  }

  .sidetext p {
    font-size: 0.9em; 
    margin-right: 0.5em; 
    text-align: center;
    font-weight: 700;
    margin-top: 1em;
  }

  #btn2 button { 
    padding: 0.7em 2.4em;
    height: 3.2em;
    margin-left: 8.1em;
    margin-top: 0.8em;
  }

  .r-img img{
    /* position: static;
    margin-top: 20px;
    width: 10em; */
    visibility: hidden;
  }
}

#section6{
  display: flex;
  background-color: rgba(248, 233, 216, 0.
  226);
  position: relative;
}

.s-text-w-f{
  display: flex;
  flex-direction: column;
  margin-left: 4em;
  gap: 0.8em;
  margin-top: 4em;
}

.s-text-w-f img{
  width: 10em;
  margin-top: 2em;
  margin-left: 0.5em;
}

.s-text-w-f p{
  width: 26em;
  margin-top: 1em;
  font-size: 1em;
  color: grey;
}

.s-text-w-f ul{
  display: flex;
  margin-top: 0.8em;
  list-style: none;
}

.s-text-w-f i{
  font-size: 1em;
  border: transparent;
  border-radius: 10%;
  padding: 0.6em;
  color: white;
  background: rgba(128, 128, 128, 0.849);
  margin: 0.5em;
}

.s-text-w-f i:hover{
  background-color: orangered;
}

.one, .two{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-left: 16em;
  margin-top: 4em
}

.one ul, .two ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.one li a{
  text-decoration: none;
  color: grey;
  gap: 1em;
}

.one li a:hover{
  color: #ff5d22;
}

.two li a{
  text-decoration: none;
  color: grey;
  font-size: 0.8em;
}

.two i{
  color: #ff5d22;
}

.two li a:hover{
  color: #ff5d22;
}

.bg-img{
  position: relative;
  top: 0;
  right: 40em;
  z-index: -1;
}

.bg-img img{
  position: absolute;
  top: 0;
  left: -16em;
}

@media screen and (max-width: 768px) {
  #section6 {
    flex-direction: column; 
    text-align: left;
    background-color: rgba(248, 233, 216, 0.
  226);
  }

  .s-text-w-f {
    margin-left: 0; 
  }

  .one, .two{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 0;
    margin-top: 4em;
    text-align: left;
  }

  .bg-img {
    right: 0;
  }

  .bg-img img {
    visibility: hidden;
  }
}